{% extends "base.html" %} {% block head %} {% endblock %} {% block
article %}
<h3>Syllable Division</h3>
<p></p>
<div class='main-syll'></div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
	var compDir = "/static/syllable/";
	var flName = "index";
	$
			.get(
					compDir + flName + ".html",
					function(data) {
						d = $.parseHTML(data);
						df = d.filter(function(e, i) {
							return $(e).hasClass("main-syll")
						});
						console.log($(df[0]).children());
						$(".main-syll").append($(df[0]).children());
						s = $("<script src='/static/syllable/syll-app.js' type=text/javascript ><\/script>");
						$(".main-syll").append(s);

					});
</script>
{% endblock %}
