{% extends "base.html" %}

{% block article %}
<h3>Syllables</h3>
<p>
    This project deals with the syllable models in Russian and their implementation in Natural Language Processing. There are actually 3 sole Russian models, 2 Western models, at least from western researchers. This are some results of my BA-thesis.
</p>
<script type='text/javascript'>
viz_choice=['corpus_of_syl'];
</script>
<iframe src='/static/lingplot/index.html' width=100% height=800px></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
