{% extends "base.html" %}

{% block article %}
<h3>Syllables</h3>
<p>
    This project deals with the syllable models in Russian and their implementation in Natural Language Processing. There are actually 3 sole Russian models, 2 Western models, at least from western researchers. The app is written in Python.
</p>
<p>
    You can see the results of parsing the <a href='http://www.ruscorpora.ru/corpora-usage.html'>1 million subset of Russian Corpus</a> .
    Due to the different character of the documents, I took a further subset of 395 documents (from 530 documents) according to the meta-tags
    <ul>
        <li>
            "style"=нейтральный/neutral
        </li>
        <li>
            "audience_age"=н-возраст/all
        </li>
        <li>
            "audience_level"=н-уровень/all
        </li>
        <li>
            "subcorpus"=ПК письменных текстов/subcorpus of written texts
        </li>
    </ul>
    There are 5 main models for syllable division
    <ul>
        <li>
            1. Model (SM1) -<strong>the Vinogradov model</strong> - in Vinogradov, Viktor u. a. (1953). Grammatika russkogo jazyka. Moskva: Academy
            of Science of the USSR
        </li>
        <li>
            SM2 -<strong>the Avanesov model</strong> - in Avanesov, Ruben (1956). Fonetika sovremennogo russkogo literaturnogo jazyka.
            Moskva: Izdat. Moskov. Univ.
        </li>
        <li>
            SM3 -<strong>the Bondarko model</strong> - in Bondarko (1998). Fonetika sovremennogo russkogo jazyka. St. Petersburg: Izd.
            S.-Peterburgskogo Univ.
        </li>
        <li>
            SM4 -<strong> the Kempgen model</strong>- in Kempgen, Sebastian (2003). »Phonologische Silbentrennung im Russischen«. In:
            Rusistika - Slavistika-Lingvistika. Festschrift für Wemer Lehfeld zum 60. Geburtstag. Hrsg. von Sebastian et al. Kempgen. München: Sagner, S. 195–211
            <a href=http://kodeks.uni-bamberg.de/slavling/downloads/SK_Phonol_Silbentrennung_Russ.pdf>here</a>
        </li>
        <li>
            SM5 -<strong>the SSP model</strong> - in i.e. Iacoponi, Luca und Renata Savy (2011). »Sylli: Automatic Phonological Syl-
            labification for Italian.« In: INTERSPEECH. ISCA, S. 641–644. <a href=http://eden.rutgers.edu/~li51/php/papers/interspeech2011.pdf >here</a>
        </li>
    </ul>
</p>
<div class=corpus_viz>
    <style >
        path {
            fill: None;
        }
        .grid-line {
            stroke: black;
            stroke-width: 0.1;
        }
        path.domain {
            shape-rendering: crispEdges;
            stroke: blue;
        }
        g.axes text {
            dominant-baseline: text-after-edge;
        }

    </style>
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type='text/javascript'>
viz_choice=['corpus'];
</script>
<iframe src='/static/lingplot/index.html' width=100% height=800px></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
