{% extends "base.html" %}

{% block article %}
<h3>Syllables</h3>
<p>
This site shows some results of my <strong>BA-Thesis</strong> that dealt with the syllable models in Russian and their implementation in Natural Language Processing. There are actually 3 Russian models, 2 Western models, at least from western researchers. This plot shows the frequencies of the syllables. Maybe you should look at my thesis to understand the use of letters.
</p>
<script type='text/javascript'>
viz_choice=['corpus_of_syl'];
</script>
<iframe src='/static/lingplot/index.html' width=100% height=800px></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
