[submodule "static/slov-apps"]
	path = static/slov-apps
	url = https://github.com/omelhoro/slov-apps
[submodule "static/russyll"]
	path = static/russyll
	url = https://github.com/omelhoro/russyll
[submodule "static/praat-xml"]
	path = static/praat-xml
	url = https://github.com/omelhoro/praat-xml
[submodule "static/lingplot"]
	path = static/lingplot
	url = https://github.com/omelhoro/lingplot
[submodule "static/tex-mydocs"]
	path = static/tex-mydocs
	url = https://github.com/omelhoro/tex-mydocs
