        @font-face{
            font-family: nexa;
            src: url("/static/fonts/Nexa-Light.otf");
        }
.masthead img {
    width: 100%;
    max-width: 800px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    width: 100%;
    max-width: 800px;
}

iframe{
	border: 0px;
}
.photoofme {
    max-height: 200px;
}

        body{
                background:linear-gradient(to right,seashell,white,seashell) ;
        }
            .header-back{
                height:100px;
                background:linear-gradient(to right,seashell,#000000,seashell) ;
                /*background:black*/ ;
                text-align: center;
            }
            .full-name{
                font-size: 56px;
                color: #FFFFFF;
                font-family: nexa;
                margin: auto;
            margin:auto;
                top:35px;
            }
            .container{
            }
