// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box


h2,h3,ul.nav
  font-family: 'Orbitron', sans-serif;

#home-view
  width: 480px
  margin: 0 auto

h1
  margin-bottom: 0.5em
  font-size: 5em
  // padding-left: 138px
  color: #fff
  border-radius: 5px
  // background-color: #91a2c0
  // background-image: url('http://brunch.io/images/brunch.png')
  background-repeat: no-repeat
  background-position: 2px

@font-face
  font-family: nexa;
  src: url("/static/fonts/Nexa-Light.otf");

.masthead img {
  width: 100%;
  max-width: 800px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container
  width: 100%;
  max-width: 800px;

iframe
  border: 0px;

.photoofme
    max-height: 200px;

body
  font-family: 'Ubuntu', sans-serif;

.header-back
  height: 100px;
  /*background:black*/;
  text-align: center;

.full-name
  font-size: 56px;
  color: #FFFFFF;
  font-family: nexa;
  margin: auto;
  margin: auto;
  top: 35px