{% extends "./base.html" %}

{% block article %}
<p class="summary">
<img class="pull-right photoofme" src="/static/me.jpg" />
I'm a former BA-student of Russian Linguistics and History at the U Hamburg. 
I enjoy combining humanities with digital technologies - <strong>Digital Humanities</strong>.
My choice of programming language depends on the task:
I've solved problems in Scala, Dart, O'Caml, <strong>Clojure, Python and Coffeescript</strong>.
</p>
<p>
Besides programming I like reading science-fiction (especially Stanislaw Lem or short stories) and learning Portuguese. Also I'm very <strong>passionate about grammars</strong>: Formal, Functional, Russian, German, English grammars.
</p>
<p>
I've done projects in various linguistic fields, for example
</p>
<ul>
    <li>
    phonological, like <a href='/projects/sylls'>automatic syllable dividing</a> and <a href='/projects/rustress' >automatic stress setting</a>, 
    </li>
    <li>
    phonetic,  <a href='/workviz'>rhythm and intonation</a>
    </li>
    <li>
    morphogical, tagging and lemmatizing
    </li>
    <li>
    pedagogical:
    <a title="Slovene Apps" href="/projects/slovdesc">enhancement of slovene course</a>
    </li>
    <li>
    visualization of  <a href=/projects/syllsviz>linguistic data</a>  (<a href="http://d3js.org">D3</a> + <a href=http://getbootstrap.com/ >Bootstrap</a> )
    </li>
    <li>
    semantic: <a href='/projects/foreignrus' >tagging/clustering of emotions of Russian politicians</a>
    </li>
</ul>
<p>
Feel free to read my <a href="/sempapers">seminar papers or BA-thesis</a>
</p>
Contact: djima154[at]yahoo.de.

{% endblock %}
