{% extends "./base.html" %}

{% block article %}
<p class="summary">
    <img class="photoofme" src="/static/me.jpg" />
    I'm currently a BA-student of Russian Linguistics and History at the U Hamburg. I enjoy combining humanities with digital technologies -> Digital Humanities.
    My choice of programming language vary with the task:
    I've solved problems in Scala, Dart, O'Caml, Python and Coffeescript,
    though latter two are my main langs.
</p>
Besides programming I like reading science-fiction (especially Stanislaw Lem or short stories) and learning Portugues.
<p>
    I've done projects in various linguistic fields, for example
</p>
<ul>
    <li>
        phonological, like automatic syllable dividing and automatic stress setting
    </li>
    <li>
        phonetic, like rhythm and intonation
    </li>
    <li>
        morphogical, like tagging and lemmatizing
    </li>
    <li>
        pedagogical:
        <a title="Slovene Apps" href="https://github.com/omelhoro/SlovApps">enhancement of slovene course</a>
    </li>
    <li>
        visualization of linguistic phenomena (<a href="http://d3js.org">D3</a> + <a href=http://getbootstrap.com/ >Bootstrap</a> )
    </li>
</ul>
<p>
    Feel free to read my <a href="/sempapers">seminar papers or BA-thesis</a>
</p>
Contact: igor.fischer154[at]gmail.com.

{% endblock %}