{% extends "base.html" %}

{% block article %}
<div class="entry-content">
  <h3>My Projects</h3>
  <h4>syllable divider</h4>
  <p>My work deals with the syllable models in Russian and their implementation in Natural Language Processing. There are actually 3 sole Russian models, 2 Western models, at least from western researchers. The language used is Python with pandas library. The programm is mainly designed for big corpora (> 1 Million words). However there are little speed disadvantages on small texts.</p>
  <p>The speed measured on the available 1-Million-tokens-subset of Russian National Corpus was processed in 480 seconds; however, a little text of M. Zoshenko “Interesno pridumala” with 180 tokens was processed in 1.4 seconds. The difference is clearer taken the rate per token into account: 480 Mikroseconds for RC and 7.8 Milliseconds for the short story.</p>
  <h4>stress setter</h4>
  <p>This project is somehow a brother to the former because for some syllable dividing models you need stress set. There are some crude approaches to that problem. Mainly generating the whole stressed paradigm of a word and then replacing the graphic form with the stressed. It leads just for the 20.000 most frequent words to 1.7 millions word forms.</p>
  <p>
    My approach is different. It infers the stress **mainly** from lemmata. Just an example from the open 1-million Russian National Corpus: If we know the stress of the lemma, we can predict the stress of the token with 92% correctness. That was achieved only with 180.000 lemmas. The correctness have been raised to nearly 96% with simply generating a list of word forms that have different stress than the lemma
  хотеть,  хочет. That list had a size of 150,000 tokens.
  </p>
  <h4>praat-xml</h4>
  <p>That project should provide some help to deal with Praat’s textgrids. They are made for Praat but you couldn’t read them in python. My programm translates textgrids to xml for further processing. Ok, the main method ist still to write a Praat script to read it. But still, XML is cooler and it gives you the great opportunities for saving metadata, parsing and editing.</p>
  <p>Right now, there is no writing from xml to .textgrids. So it’s only transfering textgrids to xml. It’ll change soon!</p>
</div>
{% endblock %}