{% extends "base.html" %}

{% block article %}
<div class="container">
    <h3>Short CV</h3>
    <h4>Working experience</h4>
    <ul>
        <li>
            Intern at the German Embassy in Moldova
        </li>
        <li>
            Teacher of German in St. Petersburg
        </li>
        <li>
            Student Assistant in two projects at U Hamburg
        </li>
        <li>
            Two times tutor in Russian linguistics
        </li>
    </ul>
    <h4>Education</h4>
    <ul>
        <li>
            BA at the 
            <strong>University of Hamburg</strong>
            in Slavistics (major) and History  (minor)
        </li>
        <li>
            Exchange semester at the
            <strong>State University of St. Petersburg</strong>
            in Russia
        </li>
        <li>
            German Abitur in Schleswig-Holstein
        </li>
    </ul>
    <h4>Languages</h4>
    <ul>
        <li>
            German (native)
        </li>
        <li>
            Russian (near-native)
        </li>
        <li>
            English (advanced)
        </li>
        <li>
            Slovenian (intermediate)
        </li>
        <li>
            Portuguese (beginner)
        </li>
    </ul>
    <h4>Computer abilities</h4>
    <h5>Beginners level</h5>
    <ul>
        <li>
            Audacity
        </li>
        <li>
            GIMP
        </li>
        <li>
            Microsoft Office
        </li>
    </ul>
    <h5>Advanced level</h5>
    <ul>
        <li>
            Inkscape (and raw SVG)
        </li>
        <li>
            Linux-related software/tools
        </li>
        <li>
            Python (especially pandas and NLTK)
        </li>
        <li>
            R
        </li>
    </ul>
    <h5>Academic software</h5>
    <ul>
        <li>
            Praat
        </li>
        <li>
            Exmaralda
        </li>
        <li>
            Latex
        </li>
        <li>
            MaxQDA
        </li>
    </ul>
</div>
    {% endblock %}

