{% extends "base.html" %}
{% block article %}
  <p>Take a look at my BA-Thesis:</p>
  <p>
    <a href="{{ url_for('static', filename = './tex-mydocs/ba-thesis/ba-thesis.pdf')}}">Vergleich der Silbenmodelle des Russischen mit Hilfe eines Natural Language Processing-Ansatzes</a>
  </p><span class="label label-warning">Info</span>
  <p>Although the description and the results are valid, the technical side is not. Recently I re-implemented this app in Clojure with cljx-sources to work in web and desktop. Results and the app are in projects-section.
  </p>
  <p>Or look at my other seminar works.</p>
  <h4>My seminar papers</h4>
  <h5>Slavistics (major)</h5>
  <ul>
    <li>
      <a href="/static/tex-mydocs/sem_papers/blackmonk/blackmonk.pdf">Der mentale Zustand A.V. Kovrins in der Erzählung “Der schwarze Mönch” von A.P. Čechov</a>
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/intonation/intonation.pdf">Beschreibungsmodelle der russischen Intonation</a> (In co-authorship) 
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/rhythm/rhythm.pdf">Rhythmusvariation bei Muttersprachlern des Russischen</a>
    </li>
  </ul>
  <h5>History (minor)</h5>
  <ul>
    <li>
      <a href="/static/tex-mydocs/sem_papers/january_uprising/january_uprising.pdf">Quellenanalyse von “The Polish National Committee’s Proclamation of January 22, 1863″ </a>
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/panslavism/panslavism.pdf">Der Panslawismus in der ersten Hälfte des 19. Jahrhunderts</a>
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/mongols/mongols.pdf">Ein Brief des Kaisers über die Mongolengefahr</a>
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/kazachs/kazachs.pdf">Die Unabhängigkeit Kasachstans 1985-1991</a>
    </li>
    <li>
      <a href="/static/tex-mydocs/sem_papers/brest-litovsk/brest-litovsk.pdf">Außenpolitik der Bolschewiki von der Novemberrevolution bis zum Frieden von Brest-Litowsk: Konzept oder Pragmatismus?</a>
    </li>
  </ul>
    <h5>Miscellaneous</h5>
  <ul>
      <li><a href="http://www.bergedorfer-zeitung.de/printarchiv/reinbek/article123207695/Reinbeker-schreibt-ein-Stueck-Weltgeschichte-mit.html">My participance in an Russian-German forum (on German side)</a></li>
      <li><a href='/static/tex-mydocs/other_papers/intkult/intkult.pdf'>Reflections about my intercultural past</a></li>
            <li><a href='/static/tex-mydocs/other_papers/foreign_exp/foreign_exp_pet.pdf'>Report about my semester abroad in St. Petersburg</a></li>

      
  </ul>
{% endblock %}
