{% extends "base.html" %}
{% block article %}
<h3>Work Samples <small>Combining Inkscape, Gimp, Python and R</small></h3>
  <div  class="row">
  <div class="col-lg-6">
  <h4>Infographic about Kleinstprojekte in Moldova</h4>
    <a href="/static/media/pics/mold_map_ex.png">
      <img class="alignnone size-medium wp-image-66" src="/static/media/pics/mold_map_small.png" alt="Moldova Infographic" width="212" height="300">
    </a>
  </div>

  <div class="col-lg-6">
  <h4>
    Conference presentations at 
    <a href="http://www.lima.uni-hamburg.de/index.php/de/veranstaltungen/lima-abschlusskonferenz">MIMS 2</a> (as co-author and designer)
  </h4>
    <a href="/static/media/pics/poster_vot.pdf">Poster for Voice Onset Time (VOT)
    <p>
      <img src="/static/media/pics/poster_vot_small.png" alt="Lima conference" width="300">
    </p>
    </a>
  </div>
  <div class="col-lg-6">

    <a href="/static/media/pics/poster_txtdev.pdf">Poster for Text Deviations of Heritage Readers
    <p>
      <img src="/static/media/pics/poster_txtdev_small.png" alt="Lima conference" width="300">
    </p>
        </a>
  </div>
  
  </div>
{% endblock %}

