{% extends "base.html" %}
{% block article %}
  <h3>Work Samples (Combining Inkscape, Gimp, Python and R)</h3>
  <h4>Infographic about Kleinstprojekte in Moldova</h4>
  <div  class="row">
  <div class="col-md-5">
    <a href="/static/media/pics/mold_map_ex.png">
      <img class="alignnone size-medium wp-image-66" src="/static/media/pics/mold_map_small.png" alt="Moldova Infographic" width="212" height="300">
    </a>
  </div>

  <h4>
    Conference presentations at 
    <a href="http://www.lima.uni-hamburg.de/index.php/de/veranstaltungen/lima-abschlusskonferenz">MIMS 2</a> (In co-authorship)
  </h4>
  <div class="col-md-5">
    <a href="/static/media/pics/poster_vot.pdf">Poster for Voice Onset Time (VOT)
      <img src="/static/media/pics/poster_vot_small.png" alt="Lima conference" width="300">
    </a>
  </div>

  <div class="col-md-5">
    <a href="/static/media/pics/poster_txtdev.pdf">Poster for Text Deviations of Heritage Readers
      <img src="/static/media/pics/poster_txtdev_small.png" alt="Lima conference" width="300">
        </a>
  </div>
  
  </div>
{% endblock %}

